.note_actions
  color: grey
  width: 100%
  padding: 4px
  text-align: left
  position: absolute
  bottom: 5px
  left: 10px

  i
    background-color: rgba(255,255,255,0.7)
    &:hover
      background-color: white
      color: black
