.header
  padding: 10px

.container
  font-size: 12px
  display: flex
  justify-content: center
  align-items: flex-start
  & > div
    padding: 10px
    box-shadow: 1px 1px 10px grey
    background-color: rgba(0,0,0,0.05)
  .note_form_container
    width: 15%
    margin-right: 40px
  .note_container
    width: 55%
    height: 85vh
    overflow-y: scroll
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    justify-content: space-between
