.note
  position: relative
  width: 150px
  height: 150px
  margin: 7px
  padding: 10px
  box-shadow: 2px 2px 4px lightgrey

  .note_header
    font-weight: bold
    font-size: 13px

  .note_text
    height: 80px
    overflow: auto

  .none
    display: none
  .block
    display: block
